@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import 'variable';

.page {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 115px;

    &-title {
        font-size: 60px;
        font-weight: 500;
        color: #fff;
        font-family: $font;

        @media (max-width: 1100px) {
            text-align: center;
        }

        @media (max-width: 500px) {
            font-size: 40px;
        }
    }

    &__cols {
        display: flex;

        @media (max-width: 1100px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &-col1 {
            margin-right: 100px;

            @media (max-width: 900px) {
                margin-right: 0;
                text-align: center;
            }

            p {
                tab-size: 8;
                font-family: $font;
                font-weight: 500;
                font-size: 25px;

                @media (max-width: 500px) {
                    font-size: 14px;
                }

                span {
                    color: #E3007B;

                    i {
                        margin-right: 10px;
                    }
                }

                .tab {
                    color: #000;
                    padding-left: 192px;
                }

                .mobile {
                    color: #000;

                    @media (max-width: 500px) {
                        word-wrap: break-word;
                    }
                }
            }
        }

        &-col2 {
            h2 {
                font-family: $font;
                font-size: 30px;
                font-weight: 500;
            }

            img {
                @media (max-width: 500px) {
                    width: 400px;
                }

                @media (max-width: 400px) {
                    width: 300px;
                }

            }
        }
    }
}

.people {
    max-width: 1400px;
    margin: 0 auto;

    &-title {
        text-align: center;
        font-family: $font;
        font-size: 30px;
    }

    &__box {
        width: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media(max-width:1000px) {
            justify-content: space-around;
        }

        &-line {
            margin-bottom: 100px;
            width: inherit;
            display: flex;
            gap: 50px;

            @media(max-width:1000px) {
                display: block;
            }

            &-person {
                max-height: 500px;

                @media(max-width:1000px) {
                    min-height: 550px;
                }

                img {
                    max-width: 250px;
                    height: 375px;
                    margin-bottom: 10px;
                }

                p {
                    width: 250px;
                    font-size: 16px;
                    line-height: 26px;
                    margin: 0;
                }
            }
        }
    }
}