@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import 'variable';

.photo {
    max-width: 1400px;
    margin: 0 auto;

    .slide {
        padding-bottom: 50px;

        &:focus {
            outline: none;
        }

        img {
            width: 500px;
            margin: 0 auto;
        }
    }
}

.info {
    max-width: 1400px;
    margin: 0 auto;

    &-title {
        font-family: $font;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 70px;

        @media (max-width: 800px) {
            font-size: 40px;
        }

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;

        a {
            @media (max-width: 800px) {
                width: 50%;
                display: flex;
                justify-content: center;

                &:nth-child(n+3) {
                    margin-top: 40px;
                }
            }
        }

        &-item {
            max-width: 200px;

            @media (max-width: 600px) {
                max-width: 150px;
                object-fit: contain;
            }
        }

        @media (max-width: 800px) {
            flex-wrap: wrap;
        }
    }
}

.partner {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

    &-title {
        font-family: $font;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;

        @media (max-width: 800px) {
            font-size: 40px;
        }

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }

    &-item {
        display: flex;
        justify-content: center;

        img {
            @media (max-width: 800px) {
                width: 300px;
            }
        }
    }
}